# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
env/
venv/
.env

# Données & outputs
data/*.csv
data/images/
data/*.xlsx   # si tu ne veux pas pousser le fichier partenaire, sinon retirer cette ligne
output/
*.log

# Docker / MinIO / DB
minio_data/
postgres_data/
*.sqlite3

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
